/* Force neon green background for hero section on index.html */
.section-header {
    background: #00FF00 !important;
}

/* Base styles, including fonts, headings, links, buttons, etc. can be found in base.css */

/* You can copy and paste that CSS into your main style.css or keep it as a separate file and link both in your HTML files. */

/* ====== Add your CSS here ======== */